<div class="container mx-auto px-4 min-h-[80vh]">
  <h1 class="text-2xl font-bold mb-6">Checkout</h1>

  <div class="grid grid-cols-1 lg:grid-cols-12 gap-6">
    <!-- Order Summary -->
    <div class="col-span-8 bg-white shadow-md rounded-lg p-6">
      <h2 class="text-xl font-semibold mb-4">Order Summary</h2>
      <div *ngFor="let item of combinedItems">
          <div class="flex justify-between mb-2">
            <span>{{ item.name }} x {{ item.quantity }}</span>
            <span>₹{{ item.price * item.quantity }}</span>
        </div>
      </div>
      <hr class="my-4" />
      <div class="flex justify-between text-lg font-bold">
        <span>Total</span>
        <span>₹{{ total }}</span>
      </div>
    </div>

    <!-- Address and Payment -->
    <div class="col-span-4 bg-white shadow-md rounded-lg p-6">
      <form [formGroup]="orderForm" (ngSubmit)="proceedToPayment()">
        <h2 class="text-xl font-semibold mb-4">Shipping Address</h2>
        <div *ngIf="addresses.length > 0; else noAddresses">
          <select formControlName="selectedAddress" class="w-full border border-gray-300 p-2 rounded mb-4">
            <option *ngFor="let address of addresses" [value]="address">
              {{ address.street }} {{ address.city }} {{ address.postalCode }}
            </option>
          </select>
        </div>
        <ng-template #noAddresses>
          <p class="text-gray-500">
            No saved addresses. Add one in your profile.
          </p>
          <a routerLink="/account"><span>Add Address</span> </a>
        </ng-template>

        <h2 class="text-xl font-semibold mb-4">Payment Method</h2>
        <select formControlName="paymentMethod" class="w-full border border-gray-300 p-2 rounded mb-4">
          <option value="Credit Card">Credit Card</option>
          <option value="Debit Card">Debit Card</option>
          <option value="UPI">UPI</option>
          <option value="Cash on Delivery">Cash on Delivery</option>
        </select>

        <button type="submit" class="w-full bg-blue-600 text-white py-2 mt-6 rounded-lg hover:bg-blue-700 transition">
          Proceed to Payment
        </button>
      </form>
    </div>
  </div>
</div>

<!--

          [(ngModel)]="selectedAddress",
 [(ngModel)]="paymentMethod"
-->
